.spades:before {
  font-size: 7ex;
  color: #000000;
  content: '♠';
}

.clubs:before {
  font-size: 7ex;
  color: black;
  content: '♣';
}

.diamonds:before {
  font-size: 7ex;
  color: #FF0000;
  content: '♦';
}

.hearts:before {
  font-size: 7ex;
  color: red;
  content: '♥';
}
